<h3>Bid Info</h3>

<p>
	<strong>Bid:</strong>
		<%= @bid.name %>
	<br />
	<strong>Bid ID:</strong>
		<%= @bid.id %>
	<br />
	<strong>Name:</strong>
		<%= @bid.name %>
	<br />
	<strong>Posted by:</strong>
		<%= @bid.user %>
	<br />
</p>
<hr />