<h3>User Info</h3>

<p>
Name: 
	<%= @user.show_name %>
<br />
Email: 
	<%= @user.show_email %>
</p>

<div>
<%= link_to "Want to post a new product, #{@user.show_name}?", new_user_product_path(@user) %>
</div>
<div>
<%= link_to "View your Products", user_products_path(@user) %>
</div>