/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */





.column-right { 
	background: url('/assets/auction.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	height: 600px;

}





.header {
	margin-top: 0px;
}

.column-left {
	height: 600px;
}

.colum_right {
	height: 0;
}

.nav-tabs {
	margin: 0;
	padding: 2px;
	background-color: white;
}


.nav-tabs > li > a {
	margin-right: 4em;
}
.login-nav-tab {
	margin-top: 2em;
}



.all-products-list {
	list-style-type: none;
}

.yield-container {
	margin-left: 2em;

}
/*.left-column {
	background-color: #BCBCBC;
	height: 600px;
}*/

/*.row2 {
	background-color: #BCBCBC;
	height: 300px;
}*/




