<h3>Product Info</h3>

<p>
User ID: 
	<%= @product.show_user_id %>
<br />
Title: 
	<%= @product.show_title %>
<br />
Description:
	<%= @product.show_description %>
<br />
Deadline:
	<%= @product.show_deadline %>
</p>