<link href='https://fonts.googleapis.com/css?family=Cinzel:400,700' rel='stylesheet' type='text/css'>
<div class="hero-img">
</div>

<div class="home-div">
	<p class="auction-header">Auction Application</p>
	<p class="site-description">View current Product listings, or sign up to post your own products and bids!</p>
	<p class="hero-link"><%= link_to "First time? Sign Up", new_user_path %></p>
</div>
